<manifest package="com.omnihealthgroup.reshining.diet"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".AddNewDatingActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>

            </intent-filter>
        </activity>

        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>

        </activity>
    </application>

</manifest>
